*
{
  /* background-image: url("C:/PROJECT/fintake/img2.jpg"); */
  background-repeat: no-repeat;
   background-size: cover;
   backface-visibility: hidden;
   backface-visibility: visible;
   background-blend-mode: darken;
}
logo{
height: 2px;
}

.trial{
  /* text-align: center; */
  size: auto;
  border: 10px;
  /* background-blend-mode: darken; */
  /* color:  white; */
  /* background-image: url("C:/PROJECT/fintake/img2.jpg");
 background-repeat: no-repeat;
  background-size: cover; */
  

}

.b1
{
  color: rgb(255, 255, 255);
 background-color: rgb(13, 15, 19);
 border-color: grey;
 float: right;
 margin-right: -1100px;
 margin-top: 15px;
  height:30px;
  width:60px;
  
  position: absolute;
   
    background-color:#0a0a23;
    background-blend-mode: darken;
}

.App-header {
  background-color: rgb(49, 49, 49);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(20px + 3vmin);
  color: rgb(255, 255, 255);
  height: 30px;
}

.logopic
{
  height: 60px;
  width: 140px;
  margin-right: 1100px;
}
input {
  width: 30%;
  color:#fff;
  background-color: white;
  padding: 5px;
}
button
{
 color: whitesmoke;
 background-color: grey;
 border-color: grey;
 float: right;
 margin-right: 300px;
 height:40px;
  width:60px;
  background-blend-mode: darken;
}
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  font-style: oblique;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
  background-blend-mode: darken;
  color: white;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
  background-blend-mode: darken;
}

formbox
{
  border-color: chocolate;
  border: 30px;
}





